{% extends "core/base.html" %}

{% load static %}

{% block contenido %}

<div class="container">
    <br>
    <h2 class="titulo_galeria">Perros Rescatados</h2>
    <br>
    <div class="galeria">
        {% for g in perros2 %}
            <!--{% if g.imagen %}-->

            <a data-fancybox="gallery" data-caption="{{ g.descripcion }}" href="{{ g.imagen.url }}">

            <img class="galeria img" src="{{ g.imagen.url }}" alt="{{ g.descripcion }}">

            <!--{% endif %}-->

        {% endfor %}
    </div>
</div>

{% endblock contenido %}