{% extends "core/base.html" %}

{% load static %}


<div class="landing">
    <div class="slider">

        {% for p in perros %}
        <div >
            
                <img src="{{ p.imagen.url }}" class="imagen_landing" title="{{ p.descripcion }}">
        
        
        </div>
        
        
        {% endfor %}

    </div>

    <div class="landing_inferior">
        <h1 class="color_blanco centrar_texto">+56 9 98765431</h1>
        <h1 class="color_blanco centrar_texto">Rescate y adopción de perros callejeros</h1>
        <ul class="social">            
                <li><img src="{% static 'core/img/socialfacebook.png' %}" alt="facebook"></li>
                <li><img src="{% static 'core/img/socialplus.png' %}" alt="plus"></li>
                <li><img src="{% static 'core/img/social-inst.png' %}" alt="instagram"></li>
                <li><img src="{% static 'core/img/correo.png' %}" alt="mail"></li>
        </ul>
    </div>

</div>
<!--

<div class="landing">

        <div class="slider">
                {% for p in perros %}
                     <img src="{{ p.imagen.url }}" class="imagen_landing" title="{{ p.descripcion }}">
                {% endfor %}
        </div>

        <div class="landing_inferior">
                <h1 class="color_blanco centrar_texto">+56 9 98765431</h1>
                <h1 class="color_blanco centrar_texto">Rescate y adopción de perros callejeros</h1>
                <ul class="social">            
                        <li><img src="{% static 'core/img/socialfacebook.png' %}" alt="facebook"></li>
                        <li><img src="{% static 'core/img/socialplus.png' %}" alt="plus"></li>
                        <li><img src="{% static 'core/img/social-inst.png' %}" alt="instagram"></li>
                        <li><img src="{% static 'core/img/correo.png' %}" alt="mail"></li>
                </ul>
        </div>
</div>


-->

{% block contenido %}
    <div class="lateral">
        <h3 >RESCATE</h3>
        <h6 >ETAPA UNO</h6>
        <br>
        <hr class="lineaIzq">
        <br>
        <p >Rescatamos perros en situación de peligro y/o abandono. Los rehabilitamos y
            los preparamos para buscarles un nuevo hogar.
        </p>
        <br>
        <img class="rescate" src="{% static 'core/img/rescate.jpg' %}" alt="rescate">           
    </div>
    <div class="principal">
        <img class="crowfunding" src="{% static 'core/img/crowfunding.jpg' %}"alt="comida">
        <h3>CROWFUNDING</h3>
        <H4>FINANCIAMIENTO</H4>
        <br>
        <hr class="lineaDer">
        <br>
        <p>Sigue nuestras redes sociales para informarte 
            acerca de las diversas campañas y actividades que realizaremos
            para obtener financiamiento para seguir ayudando
        </p>
        <br>

            <button class="button2">CAMPAÑAS</button>
    </div>
{% endblock contenido %}    