{% extends "core/base.html" %}

{% load static %}

{% block contenido %}

<h2>Listado de perros de la fundación</h2>

<a href="{% url 'perros_pdf' %}">Exportar a PDF</a> <!--referencia al alias de la url-->

<div class="container">
    <table class="table table-bordered table-hover table-condensed">
        <thead>
            <tr class="success">
                <th>Nombre</th>
                <th>Raza</th>
                <th>Fecha Ingreso</th>
                <th>Fecha Nacimiento</th>
                <th>Descripcion</th>
                <th>Estado</th>
                <th>Género</th>
                <th>Opciones</th>
            </tr>  
        </thead>
        <tbody>
            {% for a in perros %}
                <tr>
                    <td>{{ a.nombre }}</td>
                    <td>{{ a.raza.nombre }}</td>
                    <td>{{ a.fechaIngreso }}</td>
                    <td>{{ a.fechaNacimiento }}</td>
                    <td>{{ a.descripcion }}</td>
                    <td>{{ a.estado.nombre }}</td>
                    <td>{{ a.genero.nombre }}</td>
                    <td>
                        <a href="{% url 'eliminar_perro' a.id %}">Eliminar</a>
                        <a href="{% url 'modoficar-perro' a.id %}">Modificar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
</div>

<br>

<div class="container">
    <a href="{% url 'formulario' %}">
        <button class="btn btn-primary btn-lg mx-auto">Agregar Perro</button>
    </a>
    
</div>


    {% if messages %}
        {% for m in messages %}
            <div>{{ m }}</div>
        {% endfor %}
    {% endif %}
{% endblock contenido %}    