<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Perros fundación MisPerris</title>
    <style>
        h2{
            color:red;
        }
    </style>
</head>
<body>
    
    <h2>Informe Perros fundación MisPerris</h2>

    <table>        
        <tr>
            <td>Nombre</td>
            <td>Raza</td>
            <td>Fecha Ingreso</td>
            <td>Fecha Nacimiento</td>
            <td>Descripcion</td>
            <td>Estado</td>
            <td>Género</th>
        </tr>
       {% for a in perros %}
        <tr>
            <td>{{ a.nombre }}</td>
            <td>{{ a.raza.nombre }}</td>
            <td>{{ a.fechaIngreso }}</td>
            <td>{{ a.fechaNacimiento }}</td>
            <td>{{ a.descripcion }}</td>
            <td>{{ a.estado.nombre }}</td>
            <td>{{ a.genero.nombre }}</td>
        </tr>            
       {% endfor %}
    </table>


</body>
</html>